.Search{
    position: absolute;
    z-index: 100;
    width: 15vw;
    top: 2vh;
    left: .8vw;
    height: 80vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    }
.Search h2{
    text-align: center;
    margin-top: 2vh;
    font-size: 2.5vh;
}
.Search li{
    list-style: none;
}
.Search input{
    display: flex;
    width: 15vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 2.5vh;
}
.Address_Results h2{
    text-align: center;
    margin-top: 3vh;
    }
.Suit_Results{
    position: absolute;
    text-align: center;
    margin-top: 3vh;
    width: 15vw;
    height: 50vh;
    left: 1.5vw;
    overflow: scroll;
}
.Suit_Results li{
    font-size: 3vh;
    margin-bottom: 1vw;
}

.Address_Results h2:hover{
    color: hotpink;
    }
.Suit_Results li:hover{
    color: lime;
    }

.Nav_Link{
    z-index: 100;
    position: absolute;
    left: 5vw;
    top: 32vw;
    }

